html.haru--section,
html.haru--section body,
html.haru--section .reveal {
  font-size: 30px;
}

.reveal .slides h1 {
  font-size: 1.8rem;
}
.reveal .slides h2 {
  font-size: 1.6rem;
}
.reveal .slides h3 {
  font-size: 1.4rem;
}
.reveal .slides h4 {
  font-size: 1.2rem;
}
.reveal .slides h5 {
  font-size: 1rem;
}

.reveal .slides p {
  font-size: .9rem;
  line-height: 1.7;
}
.reveal .slides pre {
  font-size: .9rem;
}
